.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(104, 100, 100, 0.267);
  width: 390px;
  height: 40px;
}

.button {
  margin-left: 15px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  background-color: red;
}

.button:hover {
  background-color: rgb(35, 90, 209);
  color: white;
}
